/*
.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 30px;
  background-color: #009688
}

.div {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

img {
  width: 250px;
  height: 300px;
}

.image-container {
  margin: 0 100px;
} */
