.main {
  background-color: cyan;
}
.filter {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.price-parent {
  display: flex;
  width: 20%;
  background-color: yellow;
}

.size-parent {
  display: flex;
  width: 20%;
  background-color: green;
}

.location-parent {
  display: flex;
  width: 20%;
  background-color: blue;
}

.size-filter {
  flex-direction: column;

}

.location-filter {
  background-color: white;
  flex-direction: column;
}
.box {
  flex-direction: column;
}
