* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial;
}

.clear {
  clear: both;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.tweet {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
#block_container
{
    text-align:center;
    padding-top: 10px;

}
#bloc1, #bloc2
{
    display:inline-block;
    position: relative;
}
#bloc1 > a, #bloc2 > a {
  display: block;
}

#bloc1 span , #bloc2 span {
    position: absolute;
    bottom: 4px;
    z-index: 99;
    width: 100%;
    left: 0;
    padding: 20px;
    background: #33333385;
    color: #fff;
  }

#bloc2 span {
  right: 0;
}
img{
  width: 500px;
  length:400px;

}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.discount--home {
  color: #f2f2f2;
  background-color: #e801019c;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 200px;
  text-align: center;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 64px;
  left: 19px;
  vertical-align: middle;
  line-height: 175px;
  font-size: 30px;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.contactus{
  background: #333333;
      max-width: 1000px;
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      padding: 20px 0;
}
.userInfo{
  display: flex;
  justify-content: center;
  padding:20px;

}
.userInfo input {
  border-radius: 8px;
    width: 300px;
    height: 39px;
}

.msg{
  display: flex;
  justify-content: center;
}
.msg textarea{
  border-radius: 8px;

}

.btn{
  display: flex;
  justify-content:center;
}
.btn button{
  background: white;
  border-radius: 8px;
  color: black;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer {
   color: white;
    text-align: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}


/* model--pop */
.hidden  {
  display: none;
}
.model--pop {
  width: 60vw;
  height: 60vh;
  background: #fff;
  position: fixed;
  z-index: 99999;
  top: 20%;
  left: 20%;
}
