body {
  font-family: Arial, Helvetica, sans-serif;
    /* background: #bec4e4; */
}

* {
  box-sizing: border-box
}

i {
  visibility: hidden;
  margin-left: 0.3rem;
  padding: 0.2rem;
  color: #c5283d;
}
.navbar {
  padding: 1rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.navbar__container {
  margin: 0 auto;
  max-width: var(--limited-width-container);
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
}

.navbar__link {
  color: var(--color-text-main);
  text-transform: uppercase;
}
input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  background-color:#0000FF;
  color: white;
  padding: 12px 20px;
  margin: 2px;
  border: none;
  cursor: pointer;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-weight: bold
}

#btn{
  background-color:#0000FF;
  color: white;
  padding: 12px 20px;
  margin: 2px;
  border: none;
  cursor: pointer;
  width: 10%;
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: center;
  font-weight: bold
}

button:hover {
  opacity: 0.8;

}


.container {
  padding: 16px;

}

#post{
  /* background-color:#0000FF; */
  color: white;
  padding: 12px 20px;
  margin: 2px;
  border: none;
  cursor: pointer;
  width: 99%;
  height: 15%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-weight: bold

}

@media screen and (max-width: 300px) {
 button {
    width: 100%;

  }
}

form {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  width: 80%;
  margin: 0 auto;

}

.title {
  text-align: center

}



   .isa_success {
    font-size: 30px;
    text-align: center;
    margin: 10px 0px;
    padding:12px;
      color: #4F8A10;
      background-color: #DFF2BF;
  }

  .isa_success i {
      margin:10px 22px;
      font-size:2em;
      vertical-align:middle;
  }

 .isa_success, .isa_error {
    margin: 10px 0px;
    padding:12px;

    }


    .isa_error {
        color: #D8000C;
        background-color: #FFD2D2;
        text-align: center
    }

    .isa_success i,  .isa_error i {
        margin:10px 22px;
        font-size:2em;
        vertical-align:middle;
    }

    h1{
      color:#0000FF;
      text-align:center
    }
