<div class="about">
  <p>shopping for many people is wasting time, effort, and potential loss of money, but not anymore.
    <br>
BestPrice is a website that help you to find lovely products with high quilty and less price
<br>
that had discount, so you will find all products with their details like locations.
 name of shops, sizes.</p>
<br>
<br>
Our team
<br>
Marwa, Farah, Haneen, Ishak.
</div>
