<div class="about">
  <p>shopping mission for many people is wasting time and efforting,but not anymore.
    <br>
BestPrice is a website that help you to find high quilty with less price,
<br>
else you find the name of shop, price, location,and sizes.
 BestPrice will save the time,offert and money.</p>

</div>
