<form class="contactus" id="contactus" method="post" action="/contactus">
  <div class="userInfo">
    <input for="email" id="email" type="email" name="email" value="" placeholder="your e-mail">
    <input for="name" id="name" type="text" name="name" value=""  placeholder="your name">
  </div>
  <div for="message" id="message" class="msg">
    <textarea class="textarea" placeholder="your message" name="name" rows="8" cols="80"></textarea>
  </div>
  <div class="btn">
    <button class="button" type="submit">Send </button>
  </div>
</form>
