<center>
  <div class="login_div">
    <p id="header_para" class="w3-animate-fading"><span id="best"><b>best</b></span><span id="price">Price</span></p>
    <hr id="hr1" />&nbsp
    <hr id="hr2" /><br /><br /><br />
    <form action="/login"  method="POST">
      <input type="text" name="username" placeholder="username" required class="input_style w3-animate-right"><br /><br />
      <input type="password" name="password" placeholder="password" required class="input_style w3-animate-left"><br /><br />
      <input type="submit" name="submit_button" value="LOGIN" id="login_button" class="w3-animate-bottom"><br />
    </form>
    <p id="forgot" class="w3-animate-zoom"><a href="#">forgot password?</a></p><br /></p>
  </div>
</center>
