


<form action="/signup" method="POST" id="signUpForm">
<div class="login_div">

  <div>
 <hr>
 <p id="header_para" class="w3-animate-fading"><span id="best"><b>best</b></span><span id="price">Price</span></p>
  <div class="inputWithIcon">
    <input type="text" placeholder="Enter your user name" name="uname" id="uname" value ="" required class="input_style w3-animate-right">
    <i class="fas fa-exclamation-circle" id='userNameIcon'></i>
  </div>
  <br /><br />
  <div class="inputWithIcon">

    <input type="text" placeholder="Enter First Name" name="fname" id="fname" value ="" required class="input_style w3-animate-right">
    <i class="fas fa-exclamation-circle" id='firstNameIcon'></i>
  </div>
<br /><br />
  <div class="inputWithIcon">

  <input type="text" placeholder="Enter Last Name" name="lname" id="lname" value ="" required class="input_style w3-animate-right">
  <i class="fas fa-exclamation-circle" id='lastNameIcon'></i>
  </div>
<br /><br />
  <div class="inputWithIcon">

  <input type="email" placeholder="Enter Email" name="email" id="email" value =""  required class="input_style w3-animate-right">
  <i class="fas fa-exclamation-circle" id='emailIcon'></i>
  </div>
<br /><br />
  <div class="inputWithIcon">

  <input type="password" placeholder="Enter Password" name="password" id="password" value =""  required class="input_style w3-animate-left">
  <i class="fas fa-exclamation-circle" id='passwordIcon'></i>
  </div>
  <p class='form__error' id='formError'></p>
<br /><br />
  <button type="submit"  name="submit_button" class="signupbtn" value="Sign up" class="w3-animate-bottom" id="btn1">Sign Up</button>


  </div>
</div>
</form>
<script src="./js/signup.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
