


<form action="/signup" method="POST" id="signUpForm">
<div class="container">

 <hr>
<p id="header_para" class="w3-animate-fading"><span id="best"><b>best</b></span><span id="price">Price</span></p>
  <div>
   <label for="uname"> <b>User name</b></label>
    <input type="text" placeholder="Enter your user name" name="uname" id="uname" value ="" required>
    <i class="fas fa-exclamation-circle" id='userNameIcon'></i>
  </div>
  <div>
    <label for="fname"><b>first Name</b></label>
    <input type="text" placeholder="Enter First Name" name="fname" id="fname" value ="" required>
    <i class="fas fa-exclamation-circle" id='firstNameIcon'></i>
  </div>

  <div>
  <label for="lname"> <b>Last Name</b></label>
  <input type="text" placeholder="Enter Last Name" name="lname" id="lname" value ="" required>
  <i class="fas fa-exclamation-circle" id='lastNameIcon'></i>
  </div>

  <div>
  <label for="email"><b>Email</b></label>
  <input type="email" placeholder="Enter Email" name="email" id="email" value =""  required>
  <i class="fas fa-exclamation-circle" id='emailIcon'></i>
  </div>

  <div>
  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" id="password" value =""  required>
  <i class="fas fa-exclamation-circle" id='passwordIcon'></i>
  </div>
  <p class='form__error' id='formError'></p>

  <button type="submit" class="signupbtn"  id="btn1">Sign Up</button>

</div>
</form>



<script src="./js/signup.js"></script>
