<header>
<div class="header">
  <a href="#default" class="tweet">BestPrice</a>
  <div class="header-right">
    <a class="active" href="#lgoin" id="login">Login</a>
    <a href="#Sign">Sign up</a>
  </div>
</div>
<script src="./js/home.js"></script>
</header>
