<header>
<div class="header">
  <a href="#default" class="tweet">BestPrice</a>
  <div class="header-right">
    <a class="active" href="#lgoin">Login</a>
    <a href="#Sign">Sign up</a>
  </div>
</div>
</header>
