<header class="header">
  <form id="headerForm" class="headerForm">
  <a href="/login">
    <input class="input" type="submit" name="" value="Login">
  </a>
    <input class="input" type="submit" name="" value="Sign Up">
  </form>
</header>
