<div id="navbar" class="navbar">
  <div class="containernav">

<div class="navImg">
  <img src="https://image.freepik.com/free-vector/best-price-lettering-on-paint-blots_1262-7448.jpg" class="logo" alt="logo">
  </div>
<div id="navItems" class="navItems">
  <ul>
    <li><a href="/women-fashion">Women</a></li>
    <li><a href="/men-fashion">Men</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="/contactus">Contact us</a></li>
  </ul>
</div>


</div>
</div>
